# Set in Vercel dashboard or via CLI
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_GENLAYER_CONTRACT_ADDRESS=
NEXT_PUBLIC_USDC_CONTRACT_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
NEXT_PUBLIC_IMPACT_DNA_ESCROW_ADDRESS=
